:root {
  --color-blue-selection: blue;
  --color-blue-hover: rgb(37, 68, 172);
  --color-black: #2e2e2e;
  --color-grey: #f1f2f2;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  background-color: var(--color-grey);
  cursor: default;
  user-select: none;
  box-sizing: border-box;
}

li {
  list-style: none;
}

#main-menu-section {
  padding: 2.5rem 0;
  height: 38rem;
  width: 31rem;
  display: flex;
  justify-content: center;
  border-radius: 80px;
  background-color: white;
  box-shadow: var(--box-shadow);
}

#main-menu h1 {
  font-family: 'IM Fell French Canon SC', serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#main-menu ul {
  text-align: center;
}

#main-menu svg {
  height: 20px;
  width: 20px;
}

.menu-option {
  padding-top: 0.875rem;
}

.menu-option p {
  font-family: 'Texturina', serif;
  font-size: 1.5rem;
  transition: font-size 0.2s ease-out;
}

#player-name {
  font-family: inherit;
  font-size: 1.3rem;
  transition: font-size 0.2s ease-out;
  text-align: center;
  padding-top: 0.625rem;
  caret-color: currentColor;
}

#player-name:focus-visible {
  outline: 0;
}

#start-game-btn,
.option-choice-btn,
#player-name {
  border: 0;
  background-color: inherit;
  color: inherit;
}

.option-choice-btn {
  font-family: inherit;
  font-size: 1.3rem;
  transition: font-size 0.2s ease-out;
  padding-top: 0.625rem;
}

#note {
  font-size: 0.75rem;
  margin-top: 0.625rem;
  text-align: center;
}

@media only screen and (max-width: 48rem) {
  #main-menu-section {
    border-radius: 0;
  }
}
