#game-section {
  display: none;
}

#game-section h2 {
  text-align: center;
  font-family: 'Texturina', serif;
  font-size: 1.7rem;
}

#middle {
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

aside button {
  font-family: inherit;
  color: #2e2e2e;
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid white;
  background-color: white;
  height: 50px;
  width: 50px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  border-radius: 25px;
}

aside button:hover {
  background-color: #2e2e2e;
  border-color: #2e2e2e;
  color: white;
  fill: white;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 2.5rem 4rem 2rem 4rem;
}

.box {
  display: grid;
  grid-template: repeat(3, 3.125rem) / repeat(3, 3.125rem);
}

.inputBox {
  text-align: center;
  font-family: inherit;
  font-size: 1.6rem;
  color: #2e2e2e;
  cursor: pointer;
  border: 1px solid white;
  caret-color: transparent;
  user-select: none;
}

.inputBox:hover {
  background-color: #2e2e2e;
  border-color: #2e2e2e;
  color: white;
}

aside button:focus,
.inputBox:focus {
  outline: 0;
}

.highlightRow {
  border-color: #2e2e2e white;
}

.highlightCol {
  border-color: white #2e2e2e;
}

.highlightBox {
  border-color: #2e2e2e;
  background-color: #2e2e2e;
  color: white;
}

.disabled {
  cursor: default;
  pointer-events: none;
  color: #0072e3;
}

#svg-button,
#time-section,
.footerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

#boardFooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footerBtn {
  font-family: 'Texturina', serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: #2e2e2e;
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.26);
  height: 40px;
  border-radius: 20px;
  padding: 0 20px 5px 20px;
}

.footerBtn:hover {
  background-color: #2e2e2e;
  color: white;
  border-color: #2e2e2e;
  fill: white;
  stroke: white;
}

.footerBtn svg {
  margin: 5px 0 0 6px;
  height: 20px;
  width: 20px;
}

#timer {
  font-family: 'Texturina', serif;
  font-size: 1.2rem;
  width: 52px;
  height: 38px;
}

#time-section svg {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

#hintBtn {
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.26);
  border-radius: 50px;
  padding: 5px;
  stroke: #2e2e2e;
  display: none;
  position: relative;
}

#hintBtn:hover {
  border-color: #2e2e2e;
  background-color: #2e2e2e;
  stroke: white;
}

#hintNum {
  font-family: 'Texturina', serif;
  font-size: 1.25rem;
  position: absolute;
  top: -13px;
  right: -15px;
}

.incorrect,
.incorrect:hover {
  color: #e41212;
}
