.menu-option:hover p {
  font-size: 1.7rem;
  color: rgb(37, 68, 172);
}

.menu-option li:hover .option-choice-btn,
.menu-option:hover #player-name {
  font-size: 1.5rem;
  color: rgb(37, 68, 172);
}

.menu-option.selected p {
  font-size: 1.7rem;
  color: blue;
}

.menu-option li .option-choice-btn.selected,
.menu-option.selected #player-name {
  font-size: 1.5rem;
  color: blue;
  caret-color: blue;
}

/* For check-circle icon */
.check-circle-outline {
  visibility: hidden;
  color: rgb(37, 68, 172);
}

.menu-option li:hover .check-circle-outline {
  visibility: visible;
}

.option-choice-btn.selected + .check-circle-outline {
  visibility: visible;
  color: blue;
}

#input-field-svg {
  position: relative;
  top: 1.5px;
  visibility: hidden;
}

.menu-option:hover #input-field-svg {
  color: rgb(37, 68, 172);
}

.menu-option.selected #input-field-svg {
  color: blue;
}
