html {
  --color-blue-selection: blue;
  --color-blue-hover: rgb(37, 68, 172);
}

.menu-option {
  pointer-events: none;
}

.option-choice-btn,
#start-game-btn,
.menu-option label,
.menu-option #player-name {
  pointer-events: auto;
  cursor: pointer;
}

.menu-option:hover p {
  font-size: 1.7rem;
  color: var(--color-blue-hover);
}

.option-choice-btn:hover,
.menu-option:hover #player-name {
  font-size: 1.5rem;
  color: var(--color-blue-hover);
}

.menu-option.selected p {
  font-size: 1.7rem;
  color: var(--color-blue-selection);
}

.option-choice-btn.selected,
.menu-option.selected #player-name {
  font-size: 1.5rem;
  color: var(--color-blue-selection);
  caret-color: var(--color-blue-selection);
}

/* For check-circle icon */

.check-circle-solid,
.check-circle-outline {
  display: none;
  position: relative;
  top: 2.5px;
}

.option-choice-btn:hover ~ .check-circle-outline {
  display: inline;
  color: var(--color-blue-hover);
}

.option-choice-btn.selected ~ .check-circle-outline {
  display: inline;
  color: var(--color-blue-selection);
}

.option-choice-btn:hover,
.option-choice-btn.selected,
.option-choice-btn.checked,
.menu-option.checked #player-name {
  margin-right: 2px;
  margin-left: 26.4px;
}

.input-field-svg {
  top: 1.5px;
}

.menu-option:hover .input-field-svg.h-6.w-6 {
  color: var(--color-blue-hover);
}

.menu-option.selected .input-field-svg.h-6.w-6 {
  color: var(--color-blue-selection);
}
