#backdrop {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.2s linear;
}

.modal {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-5rem);
  transition: all 0.2s ease-out, transform 0.4s ease-out;
  position: fixed;
  z-index: 2;
  background-color: white;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.26);
  width: 24rem;
  padding: 2.5rem 0rem;
  border-radius: 15px;
}

.open,
#backdrop.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.modal h2 {
  font-family: 'IM Fell French Canon SC', serif;
  font-size: 2.5rem;
  color: white;
  background-color: var(--color-black);
  padding: 10px 30px;
  border-radius: 15px;
}

fieldset {
  border: 0;
}

legend {
  margin: auto;
}

#iconsContainer {
  display: flex;
  justify-content: space-evenly;
}

#iconsContainer svg {
  cursor: pointer;
  fill: var(--color-black);
  height: 40px;
  width: 40px;
  transition: transform 0.2s ease-out;
}

#result-section {
  padding-bottom: 2rem;
  text-align: center;
}

#result-section ul {
  font-family: 'Texturina', serif;
  font-size: 1.3rem;
  padding: 0 2.5rem;
}

#result-section li {
  position: relative;
  text-align: left;
}

#result-section span {
  position: absolute;
  right: 0;
}

#okButton {
  font-family: 'Texturina', serif;
  background-color: var(--color-black);
  color: white;
  padding: 5px 16px 9px 10px;
  margin-top: 2.5rem;
  border-color: var(--color-black);
}

@media (hover: hover) and (pointer: fine) {
  #iconsContainer svg:hover {
    fill: black;
    transform: scale(1.2);
  }

  #okButton:hover {
    background-color: black;
  }
}

#spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 48rem) {
  .modal {
    width: 18rem;
    padding: 1.8rem 0;
  }

  .modal h2 {
    font-size: 2.1rem;
  }

  #iconsContainer svg {
    height: 35px;
    width: 35px;
  }

  #result-section {
    padding-bottom: 1.5rem;
  }

  #result-section ul {
    font-size: 1.1rem;
  }

  #okButton {
    margin-top: 1.8rem;
  }
}
