#backdrop {
  display: none;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 24rem;
  padding: 2.5rem 0rem;
  border-radius: 15px;
}

.modal h2 {
  font-family: 'IM Fell French Canon SC', serif;
  font-size: 2.5rem;
  color: white;
  background-color: #2e2e2e;
  padding: 10px 30px;
  border-radius: 15px;
}

fieldset {
  border: 0;
}

legend {
  margin: auto;
}

#iconsContainer {
  display: flex;
  justify-content: space-evenly;
}

#iconsContainer svg {
  cursor: pointer;
  fill: #2e2e2e;
  height: 40px;
  width: 40px;
}

#iconsContainer svg:hover {
  fill: black;
}

#result-section {
  padding-bottom: 2rem;
  text-align: center;
}

#result-section ul {
  font-family: 'Texturina', serif;
  font-size: 1.3rem;
  padding: 0 2.5rem;
}

#result-section li {
  position: relative;
  text-align: left;
}

#result-section span {
  position: absolute;
  right: 0;
}

#okButton {
  font-family: 'Texturina', serif;
  cursor: pointer;
  background-color: #2e2e2e;
  color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.26);
  /* padding: 5px 15px 8px 10px; */
  padding: 5px 16px 9px 10px;
  border-radius: 20px;
  margin-top: 2.5rem;
}

#okButton:hover {
  background-color: black;
}
